<div class="container-fluid">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-text">
                <h1><strong>Burger Time!</strong></h1>
                <p>Grab a burger on the go.</p>
            </span>

            <panel>
                <form class="create-form">
                    <div class="form group">
                        <label for="newburger"></label>
                        <select data-placeholder="" name="burger" id="newburger" class="form-select form-select-sm"
                            aria-label="form-select-sm example">
                            <option>Select Your Burger</option>
                            <option value="cheeseburger">Cheeseburger</option>
                            <option value="hamburger">Hamburger</option>
                            <option value="veggieburger">Veggieburger</option>
                            <option value="baconburger">Baconburger</option>
                            <option value="double cheeseburger">Double Cheeseburger</option>
                            <option value="deluxe bacon cheeseburger">Deluxe Bacon Cheeseburger</option>
                            <option value="burger in a bowl">Burger in a Bowl</option>
                        </select>

                        <button type="submit" id="addburger" type="submit" class="btn btn-secondary">Yum! <i class="fas fa-hamburger"></i></button>
                    </div>
                </form>
            </panel>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="ordersplaced">
                        <h2><strong>Confirm your Burger Choice</strong></h2>
                        <h4>Then Pay Here:</h4>
                    </div>
                    <div class="panel-body">

                        <ul>
                            {{#each burger}}
                            {{#unless devoured}}

                            <li><span> {{this.id}} - {{this.burger_name}}</span>
                                <button type="button" data-newDevoured="{{devour}}" class="payburger btn btn-success"
                                    id="payburger" data-id="{{this.id}}">Pay <i class="fas fa-shopping-cart"></i>
                                </button>
                            </li>

                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading" id="ordersready">
                        <h2><strong>Enjoy!</strong></h2>
                        <h4>Order removed after your confirm pick-up!</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            {{#each burger}}
                            {{#if devoured}}

                            <li><span> {{this.id}} - {{this.burger_name}}</span>
                                <button type="button" data-newDevoured="{{devour}}" class="finishburger btn btn-success"
                                    id="finishburger" data-id="{{this.id}}">Goodbye! <i class="fas fa-trash-alt"></i>
                                </button>
                            </li>

                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- javascript --}}

<script type="text/javascript">

    $(function () {
        $(".create-form").on("submit", function (event) {
            event.preventDefault();

            var newBurger = {
                burger_name: $("#newburger").val().trim(), devoured: 0
            };

            $.ajax("/api/burgers", {
                type: "POST",
                data: newBurger
            }).then(function () {
                console.log("selected burger");
                location.reload();
            });
        });

        $(".payburger").on("click", function (event) {
            event.preventDefault();

            var id = $(this).data("id");
            var devouredState = {
                devoured: 1
            };

            $.ajax("/api/burgers/" + id, {
                type: "PUT",
                data: devouredState
            }).then(function () {
                console.log("burger paid");
                location.reload();
            });
        });

        $(".finishburger").on("click", function (event) {
            event.preventDefault();

            var id = $(this).data("id");

            $.ajax({
                type: "DELETE",
                url: "/api/burgers/" + id
            }).then(location.reload());
        });
    });
</script>