<nav class="navbar navbar-dark bg-dark" id="header">
    <div class="container-fluid">
    <span class="navbar-text">
        <h1 id="maintitle">Burger Town</h1>
        <p id="subtitle">Grab-n-go burger.</p>
    </span>
    <panel id="burgersearch">
        <form class="create-form">
            <div class="form group">
                <label for="newburger"></label>
                <select data-placeholder="" name="burger" id="newburger" class="form-select form-select-sm"
                    aria-label="form-select-sm example">
                    <option id="burgeroptions">Select Your Burger</option>
                    <option value="Cheeseburger">Cheeseburger</option>
                    <option value="Hamburger">Hamburger</option>
                    <option value="Veggieburger">Veggieburger</option>
                    <option value="Baconburger">Baconburger</option>
                    <option value="Double Cheeseburger">Double Cheeseburger</option>
                    <option value="Deluxe Bacon Cheeseburger">Deluxe Bacon Cheeseburger</option>
                    <option value="Burger in a Bowl">Burger in a Bowl</option>
                </select>

                <button type="submit" id="addburger" type="submit" class="btn btn-secondary">Good
                    Choice!</button>
            </div>
        </form>
    </panel>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="ordersplaced">
                    <h2 id="ordertitle"><strong>Confirm your Burger Choice</i></strong></h2>
                    <br>
                    <h4 id="payhere">Then Pay Here:</h4>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burger}}
                        {{#unless devoured}}

                        <li>
                            <span> {{this.id}} - {{this.burger_name}}</span>
                        </li>
                        <li>
                            <button type="button" data-newDevoured="{{devour}}" class="payburger btn btn-success"
                                id="payburger" data-id="{{this.id}}">Pay <i class="fas fa-shopping-cart"></i>
                            </button>
                        </li>
                        <br>

                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="ordersready">
                    <h2 id="confirmtitle"><strong>Enjoy!</strong></h2>
                    <br>
                    <h4 id="pickup">Order removed after your confirm pick-up!</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burger}}
                        {{#if devoured}}

                        <li>
                            <span> {{this.id}} - {{this.burger_name}}</span>
                        </li>
                        <li>
                            <button type="button" data-newDevoured="{{devour}}" class="finishburger btn btn-success"
                                id="finishburger" data-id="{{this.id}}">Goodbye! <i class="far fa-hand-peace"></i>
                            </button>
                        </li>
                        <br>

                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>